/*
* YOUR STYLES HERE
*/

body{
  font-family: 'Open Sans', sans-serif;
}

.primary-font{
  font-family: 'Quicksand', sans-serif;
}

.nomarginlabel{
  margin-bottom: 0
}

/****** TITLES *******/

.titleSection{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

/******* SUB TITLE ******/

.subtitle{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #2175fe;
}

/******* BUTTONS *********/

.btnswitch {
  display: flex;
  align-items: center;
}

.btnswitch-text {
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2571fe;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2571fe;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******* FORMS ********/

/*** CHECKBOX ***/

.checkbox{
  display: flex;
  align-items: center;
}


/******** DROPDOWN **********/

/***** SIDEBAR DROPDOWN *****/

.sidebarDropdown{
  width: 300px
}

.sidebarItem{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #215e8e;
  width: 100%;
  height: 100%;
  background-color: #2175fe;
  cursor: pointer;
}

.sbNumber{
  flex-grow: 0;
  height: 100%;
  font-size: 18px;
  background-color: rgba(253,253,253,0.3);
  padding: 12px;
  min-width: 50px;
  letter-spacing: 2px;
}

.sbName{
  flex-grow: 2;
  padding: 10px;
  font-size: 20px;
  color: #FDFDFD;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sbIcon{
  flex-grow: 0;
  padding: 10px;
  color: #fff;
}

.submenu{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #82b2cc;
  overflow: hidden;
  transition: height 0.5s;
}

.subDrop{
  display: flex;
  align-items: center;
  border-top: 1px solid #215e8e;
}

.subDrop:nth-last-child(1) {
  border-bottom: 1px solid #215e8e;
}

.subDrop:hover {
  background-color: #569EDE;
}

.showdropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.subIcon{
  padding: 10px 15px;
  min-width: 50px;
  flex-grow: 0;
  height: 100%;
  font-size: 18px;
  background-color: rgba(253,253,253,0.3);
}


/***** DROPDOWN HEADER ******/

.dropdownHeader{
  background-color: transparent;
  color: #252525;
}

/***** PROGRESS BAR ******/

.set-size {
  font-size: 10em;
}

.pie-wrapper {
  height: 10em;
  width: 10em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0,1em,1em,0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.8em solid #3498db;
  border-radius: 50%;
  clip: rect(0,5em,10em,0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #215e8e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 2.7em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto,auto,auto,auto);
}
.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto,auto,auto,auto);
}
.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #2571fe;
}
.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto,auto,auto,auto);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto,auto,auto,auto);
}
.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}
.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0/50%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: linear-gradient(to right,#2571fe 50%,#34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #2571fe;
  transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: linear-gradient(to right,#9b59b6 50%,#34495e 50%);
}
.pie-wrapper--solid.progress-88 {
  background: linear-gradient(to right,#3498db 50%,#34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  transform: rotate(43.2deg);
}
.draw-progress(@progress .pie .right-side,
$color) when (@progress <= 50) .pie .right-side {
  display: none;
}
.draw-progress--solid(@progress:before,
$color:before,
$bg) when (@progress <= 50):before {
  background: #34495e;
  transform: rotate(100 - 50 -  / 100 * 360deg * -1);
}

/****** IMAGES ******/

.logoHeader, .logoFooter{
  width: 150px;
}

.logoIcon{
  width: 100px;
}

/***** MESSAGE ******/

/*** DATE & HOUR ****/

.settime{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #ABABAB;
}

/*** MESSAGE ***/

.received{
  border: 1px solid #ABABAB;
  border-radius: 10px;
  padding: 10px 20px;
}

.sended{
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #215e8e;
  color: #FDFDFD;
}

/************ SPECIFIQUE COMPOSANT **************/

/***** Title *****/

.titleWorkspace{
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: 600px;
  color: #215e8e;
}

/***** ADDMEMBER *****/

.addmember{
  display: flex;
  align-items: center;
  border: 1px solid #656565;
  padding: 15px;
  cursor: pointer;
}

.addmember-img{
  margin-right: 20px;
  width: 50px;
}

/**** BUTTONS DASHBOARD *****/

.btnaction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin 20px 30px: 20px 0;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  height: 200px;
  box-shadow: 1px 1px 5px 2px #ababab;
  text-align: center;
  background-color: #2571fe;
  cursor: pointer;
}

.btnaction:active{
  box-shadow: inset 0px 0px 5px 2px #656565;
}

.btnaction-icon{
  font-size: 30px;
}

.btnaction-title{
  font-size: 18px;
  color: white;
}

/***** DELIMITER ******/

.delimiter{
  margin: 0 auto;
  border-radius: 10px;
  width: 50%;
  height: 5px;
  background-color: #2175fe;
}

/************ MOLECULES **************/

/***** FILE STYLE *****/

.file{
  display: flex;
  align-items: center;
  border: 1px solid #ABABAB;
}

.file:hover{
  background-color: rgba(155,193,235,0.2);
}

.fileIcon{
  flex-grow: 0;
  padding: 15px;
  font-size: 25px;
}

.fileName{
  flex-grow: 2;
  padding: 15px;
  font-size: 20px;
}

.fileStatut{
  flex-grow: 0;
  padding: 15px;
  font-size: 25px;
}

/**** FOLDER STYLE ****/

.folder{
  display: flex;
  align-items: center;
  border: 1px solid #ABABAB;
  background-color: #f0f0f0;
}

.folder:hover{
  background-color: #9bc1eb;
}

.folderIcon{
  flex-grow: 0;
  padding: 15px;
  font-size: 25px;
}

.folderName{
  flex-grow: 2;
  padding: 15px;
  font-size: 20px;
}

.folderContent{
  flex-grow: 0;
  padding: 15px;
  font-size: 25px;
}

/***** MEMBER LIST ******/

.member{
  display: flex;
  align-items: center;
  border: 1px solid #ABABAB;
  padding: 15px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** MENU VERTICAL ******/

.itemMenuVertical:hover{
  width: 100%;
  background-color: #2571fe;
  color: #FDFDFD;
}

/***** ROLES STYLES ******/

.role{
  display: flex;
}

/***** NOTIFICATION *****/

.table-notif{
  display: flex;
  align-items: center;
  border: 1px solid #ABABAB;
  padding: 15px;
}

.notif-wksname{
  flex-grow: 2;
}

.notif-role{
  flex-grow: 1;
}

.notif-activation{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/***** MESSAGE *****/

.message-avatar{
  position: relative;
  top: 50px;
}

.message-time{
  margin-left: 60px;
}

/***** VERSION *****/

.version{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
}

/*********** ORGANISM ************/

/******** HEADER **********/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px #606060;
}

.optionHeader{
  display: flex;
  flex-wrap: wrap;
}

/******** FOOTER *********/

.footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-top: 1px solid #252525;
  background-color: #f0f0f0;
}

/******** SIDEBAR **********/

.sidebar{
  width: 300px;
  height: 100%;
  background-color: #215e8e;
}

.btnCrea{
  display: flex; 
  justify-content: center;
}

/******* UPLOAD POPUP *******/

.uploadpopup{
  border-radius: 10px;
  box-shadow: 1px 1px 5px 2px #ababab;
  width: 400px;
  height: 350px;
  background-color: #f0f0f0;
}

.uploadText{
  font-size: 24px;
}

/****** FORM CONNEXION *******/

.connexion-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** FLASH MESSAGE ******/

.flash-header{
  padding: 0;
  width: 100%;
  height: 5px;
  background-color: #2175fe;
}

.flash-icon{
  font-size: 35px;
  margin-right: 35px;
}

.flash-info{
  display: flex;
  flex-direction: column;
}

/***** MESSAGE LIST *****/

.timeline{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
}

.timeline-header{
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: #ABABAB;
}

.timeline-messagelist{
  flex-direction: column;
  flex-grow: 2;
}

.timine-wysiwyg{
  flex-grow: 1;
}

/****** APP HEADER *******/

.app-header{
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  background-color: #215e8e;
  color: #FDFDFD;
}

.btn-appheader{
  display: flex;
  flex-grow: 0
}

.title-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/****** APP OPTION ******/

.app-option{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  background-color: #FDFDFD;
}

/******* TEMPLATES **********/

/***** GENERAL RULES *****/

.body{
  display: flex;
}

.sidebarContainer{
  width: 300px;
}

.content{
  width: calc(100% - 300px); /* 300px => sidebar width */
}

/***** WORKSPACE ******/

.nopadding{
  padding: 0;
}

.wkstitle{
  font-size: 25px;
}

/***** DASHBOARD *****/

.heading-info{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-notif{
  padding: 50px;
}

.wksInfo{
  width: 60%
}

.calltoaction{
  display: flex;
  flex-wrap: wrap;
}

.btn-call{
  margin: 10px 20px 10px 0;
}

.info-wks{
  display: flex;
  flex-wrap: wrap;
}

.activity{
  width: 55%;
}

.activity-notif{
  border: 1px solid #ABABAB;
}

.activity-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more{
  display: flex;
  justify-content: flex-end;
}

.memberlist{
  width: 35%;
}

.list{
  border: 1px solid #ABABAB;
}

/****** ACCOUNT PAGE *******/

.info-user{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ABABAB;
  padding: 25px;
}

.info-avatar img{
  width: 100px;
  height: 100px;
}

.info-perso{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pos-delimiter{
  position: relative;
  top: 50px;
  z-index: 3;
}

.user-preference{
  display: flex;
  padding: 25px;
  width: 100%;
  background-color: #f0f0f0;
}

.menu-vertical{
  padding-top: 15px;
  border-radius: 10px;
  width: 20%;
  height: 600px;
  background-color: #FDFDFD;
}

.nav-link{
  padding-left: 25px;
}

.setting{
  border-radius: 10px;
  padding-top: 15px;
  width: 80%;
  height: 600px;
  background-color: #FDFDFD;
}

/***** LOGIN PAGE ******/

.connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #215e8e url('../../images/tracimLogoAsBg.png') no-repeat 50% 2px;
  background-size: contain;
}

.formulaire{
  width: 50%;
}