<div class="timeline">
  <div class="timeline-header d-flex justify-content-center">
    Timeline
  </div>
  <div class="timeline-messagelist">
    <div class="timeline-msg mx-3"> 
      {{> Molecules-Message}}
    </div>
    <div class="timeline-version mt-5">
      {{> Molecules-Version}}
    </div>
    <div class="timeline-msg mx-3"> 
      {{> Molecules-Message}}
    </div>
    <div class="timeline-version mt-5">
      {{> Molecules-Version}}
    </div>
    <div class="timeline-msg mx-3"> 
      {{> Molecules-Message}}
    </div>
    <div class="timeline-msg mx-3"> 
      {{> Molecules-Message}}
    </div>
    <div class="timeline-msg mx-3"> 
      {{> Molecules-Message}}
    </div>
  </div>
  <div class="timeline-wysiwyg" style="width: 100%; background-color: #FDFDFD;">
    {{> Atoms-TextArea}}
  </div>
  <div class="timeline-btn mt-5 mb-3 d-flex justify-content-center">
    {{> Atoms-Buttons-icon}}
  </div>
</div>