<div class="folder">
  <div class="folderIcon">
    <i class="far fa-folder" style="color: #215e8e;"></i>
  </div>
  <div class="folderName">
    Folder Name
  </div>
  <div class="folderBtn">

  </div>
  <div class="fileContent mr-3">
    Type de contenu :
    <i class="fas fa-file ml-2" style="color: #215e8e;"></i>
    <i class="fas fa-tasks ml-2" style="color: #215e8e;"></i>
    <i class="fas fa-comments ml-2" style="color: #215e8e;"></i>
  </div>
</div>