<div class="app-header">
  <div class="title-icon mr-4">
    <i class="far fa-circle"></i>
  </div>
  <div class="title-text mr-auto">
    Lorem ipsum est do officia excepteur est eu commodo eiusmod velit.
  </div>
  <div class="btn-appheader">
    <div class="change-title mr-4">
      {{> Atoms-Buttons-menu}}
    </div>
    <div class="app-close">
      {{> Atoms-Buttons-menu}}
    </div>
  </div>
</div>