<div class="app-option">
  <div class="option-statut mr-5">
    {{> Atoms-dropdown-icon}}
  </div>
  <div class="option-icon">
    <i class="fas fa-archive mr-3"></i>
    <i class="far fa-trash-alt"></i>
  </div>
</div>