<header>
  <nav class="header navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo-header"> 
      {{> Atoms-logo-header }}
    </div>
    
    <div class="optionHeader">
      <div class="searchHeader mr-5"> 
        {{> Molecules-Search}}
      </div>
      <div class="help mr-5">
        {{> Atoms-Buttons-menu}}
      </div>
      <div class="language mr-5">
        {{> Atoms-dropdown-header}}
      </div>
    </div>
  </nav>
</header>