<div class="file">
  <div class="fileIcon">
    <i class="far fa-file" style="color: #2175fe;"></i>
  </div>
  <div class="fileName">
    File Name in workspace 
  </div>
  <div class="fileStatut">
    <i class="fas fa-cogs mr-2" style="color: #2175fe;"></i>
    Status
  </div>
</div>
