<div class="folder">
  <div class="folderIcon">
    <i class="far fa-folder" style="color: #215e8e;"></i>
  </div>
  <div class="folderName">
    Folder Name
  </div>
  <div class="folderBtn mr-3">
    {{> Specifique-BtnAddInFolder}}
  </div>
  <div class="fileContent mr-3">
    {{> Atoms-ExtandedAction}}
  </div>
</div>