<div class="member">
  <div class="avatar mr-3">
    {{> Atoms-Avatar}}
  </div>
  <div class="info">
    <div class="memberName mb-2">
      Eustache Dupont
    </div>
    <div class="memberRole">
      Responsable
    </div>
  </div>
</div>