<div class="body"> 

  {{> Organismes-header}}

  <div class="container-fluid nopadding">
    <div class="row">
      <div class="col-2">

        {{> Organismes-Sidebar}}

      </div>

      <div class="col-10 pl-5 mb-5">

        <div class="wkstitle my-5">
          {{> Atoms-Titles }}
        </div>

        {{> Organismes-workspace}}

      </div>
    </div>
  </div> 

  {{> Organismes-footer}}

</div>