<div class="btnswitch">
  <label class="switch nomarginlabel">
    <input type="checkbox" />
    <span class="slider round">
    </span>
  </label>
  <div class="btnswitch-text">
    Off
  </div>
</div>

