<div class="received">
  Id consequat nostrud cupidatat sed non ea dolore id laborum magna ut.
  Do ad ullamco sunt sint sunt voluptate non velit.
</div>

<div class="sended mt-3">
  Id consequat nostrud cupidatat sed non ea dolore id laborum magna ut.
  Do ad ullamco sunt sint sunt voluptate non velit.
</div>