<div class="table-notif">
  <div class="notif-wksname mr-3">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </div>
  <div class="notif-role mr-3">
    {{> Molecules-role}}
  </div>
  <div class="notif-activation">
    {{> Atoms-Button-switch}}
  </div>
</div>