<div class="notification">
  {{> Molecules-notification}}
  {{> Molecules-notification}}
  {{> Molecules-notification}}
  {{> Molecules-notification}}
  {{> Molecules-notification}}
  {{> Molecules-notification}}
</div>