<div class="navigation">
  <ul class="nav flex-column">
    <li class="nav-item">
      <div class="nav-link disabled">Menu</div>
    </li>
    <li class="nav-item">
      <div class="itemMenuVertical nav-link">Link</div>
    </li>
    <li class="nav-item">
      <div class="itemMenuVertical nav-link">Link</div>
    </li>
    <li class="nav-item">
      <div class="itemMenuVertical nav-link">Link</div>
    </li>
  </ul>
</div>