<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #215e8e;"></span>
    <span class="sg-label">
      Main Color <br />
      #215e8e
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2571fe;"></span>
    <span class="sg-label">
      second Color <br />
      #2571fe
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #82b2cc;"></span>
    <span class="sg-label">
      third Color <br />
      #82b2cc
    </span>
  </li>
</ul>
