<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FDFDFD;"></span>
    <span class="sg-label">
      Main Color <br />
      #FDFDFD
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #215e8e;"></span>
    <span class="sg-label">
      Secondary Color <br />
      #215e8e
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2571fe;"></span>
    <span class="sg-label">
      Third Color <br />
      #2571fe
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #82b2cc;"></span>
    <span class="sg-label">
      Fourth Color <br />
      #82b2cc
    </span>
  </li>
</ul>
