<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #252525;"></span>
    <span class="sg-label">
      Dark Grey <br />
      #252525
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ABABAB;"></span>
    <span class="sg-label">
      Grey <br />
      #ABABAB
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f0f0f0;"></span>
    <span class="sg-label">
      Light Grey <br />
      #f0f0f0
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e0e0e0;"></span>
    <span class="sg-label">
      Grey use for hover <br />
      #e0e0e0
    </span>
  </li>
</ul>