<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ED0007;"></span>
    <span class="sg-label">
      Responsable <br />
      #ED0007
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f2af2d;"></span>
    <span class="sg-label">
      Gestionnaire de contenu <br />
      #f2af2d
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3145F7;"></span>
    <span class="sg-label">
      Contributeur <br />
      #3145F7
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #15D948;"></span>
    <span class="sg-label">
      Lecteur <br />
      #15D948
    </span>
  </li>
</ul>