<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ad4cf9;"></span>
    <span class="sg-label">
      Thread <br />
      #ad4cf9
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3f52e3;"></span>
    <span class="sg-label">
      Write File <br />
      #3f52e3
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f90;"></span>
    <span class="sg-label">
      Import File <br />
      #f90
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f63434;"></span>
    <span class="sg-label">
      Calendar <br />
      #f63434
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #87d04c;"></span>
    <span class="sg-label">
      Explore <br />
      #87d04c
    </span>
  </li>
</ul>