<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #215e8e;"></span>
    <span class="sg-label">
      Thread <br />
      #215e8e
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #a738ed;"></span>
    <span class="sg-label">
      Write File <br />
      #a738ed
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff8400;"></span>
    <span class="sg-label">
      Import File <br />
      #ff8400
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f63434;"></span>
    <span class="sg-label">
      Calendar <br />
      #f63434
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #87d04c;"></span>
    <span class="sg-label">
      Explore <br />
      #87d04c
    </span>
  </li>
</ul>