<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ad4cf9;"></span>
    <span class="sg-label">
      Discussion <br />
      #ad4cf9
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3f52e3;"></span>
    <span class="sg-label">
      Document texte <br />
      #3f52e3
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff9900;"></span>
    <span class="sg-label">
      Import fichier <br />
      #ff9900
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f12d2d;"></span>
    <span class="sg-label">
      Document markdown <br />
      #f12d2d
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #259f6c;"></span>
    <span class="sg-label">
      Tâches <br />
      #259f6c
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #a4835e;"></span>
    <span class="sg-label">
      Ticket <br />
      #a4835e
    </span>
  </li>
</ul>