<div class="primary-font">Quicksand: "Voyez ce koala fou qui mange des journaux et des photos dans un bungalow."</div>

<br />

<div class="primary-font"><em>Quicksand italic: "Voyez ce koala fou qui mange des journaux et des photos dans un bungalow."</em></div>

<br />

<div class="primary-font"><strong>Quicksand bold: "Voyez ce koala fou qui mange des journaux et des photos dans un bungalow."</strong></div>

<br />

<div class="secondary-font">Open Sans: "Voyez ce koala fou qui mange des journaux et des photos dans un bungalow."</div>

<br />

<div class="secondary-font"><em>Open Sans italic: "Voyez ce koala fou qui mange des journaux et des photos dans un bungalow."</em></div>

<br />

<div class="secondary-font"><strong>Open Sans bold; "Voyez ce koala fou qui mange des journaux et des photos dans un bungalow."</strong></div>