{{> Organismes-app-header}}
{{> Organismes-app-option}}

<div class="container-fluid nopadding">
  <div class="body p-3" style="background-color: #f0f0f0;">
    <div class="section-html mr-3">
      Commodo consequat nostrud amet ut id duis commodo ad laborum in quis.
    </div>
    <div class="section-timeline">
      {{> Organismes-MessageList}}
    </div>
  </div>
</div>