{{> Organismes-app-header}}
{{> Organismes-app-option}}

<div class="container-fluid nopadding">
  <div class="body p-3 flex-wrap" style="background-color: #f0f0f0;">
    <div class="section-folder mr-3 p-3" style="background-color: #fdfdfd;">
      <div class="folder-header">
        {{> Atoms-subTitle}}
      </div>
      <div class="folder-type">
        <div class="folder-checkbox my-3">
          {{> Atoms-Checkbox}}
        </div>
        <div class="folder-checkbox mb-3">
          {{> Atoms-Checkbox}}
        </div>
        <div class="folder-checkbox mb-3">
          {{> Atoms-Checkbox}}
        </div>
        <div class="folder-checkbox mb-3">
          {{> Atoms-Checkbox}}
        </div>
        <div class="folder-checkbox mb-3">
          {{> Atoms-Checkbox}}
        </div>
        <div class="folder-checkbox mb-3">
          {{> Atoms-Checkbox}}
        </div>
        <div class="folder-checkbox mb-3">
          {{> Atoms-Checkbox}}
        </div>
      </div>
    </div>
    <div class="section-timeline folder-timeline">
      {{> Organismes-MessageList}}
    </div>
  </div>
</div>