<div class="sidebarDropdown nav-item dropdown">
  <div class="sidebarItem">
    <div class="sbNumber">
      01
    </div>

    <div class="sbName">
      Workspace 1
    </div>

    <div class="sbIcon">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <ul class="submenu">
    <li class="subDrop">
      <div class="subIcon">
        <i class="fas fa-th"></i>
      </div>
       <div class="showdropdown dropdown-toggle"
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="subDropTitle" id="navbarDropdown">
          <div class="subDropText">
            Tous les fichiers
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
