<div class="sidebardrop dropdown">
  <div class="wrapper">
    <div class="number">
      01
    </div>
    <div class="name">
      Workspace title
    </div>
    <div class="sbicon">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <ul class="submenu">
    <li class="subdropdown">
      <div class="subIcon">
        <i class="fas fa-circle"></i>
      </div>
      <div class="showdropdown dropdown-toggle">
        <div class="subText">
        </div>
      </div>
    </li>
  </ul>

</div>
