<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #fdfdfd; color: #2571fe;">
    Status
    <i class="fas fa-cogs mx-4"></i>
  </button>
  <div class="dropdown-menu">
    <div class="dropdown-header">Status</div>
    <div class="dropdown-divider"></div>
    <div class="dropdown-item d-flex justify-content-between align-items-center">En cours <i class="fas fa-cogs" style="color: #2571fe;"></i></div>
    <div class="dropdown-item d-flex justify-content-between align-items-center">Validé <i class="fas fa-check" style="color: #15D948;"></i></div>
    <div class="dropdown-item d-flex justify-content-between align-items-center">Invalidé <i class="fas fa-times" style="color: #f63434;"></i></div>
    <div class="dropdown-item d-flex justify-content-between align-items-center">Obsolète <i class="fas fa-ban" style="color: #e0e0e0;"></i></div>
  </div>
</div>
