<div class="dropdown extandedaction">
  <button class="extandedactionbtn btn btn-outline-primary dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="extandedaction__icon mr-3">
      <i class="fas fa-ellipsis-h"></i>
    </div>
  </button>
  <div class="extandedaction__subdropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="subitem dropdown-item d-flex align-items-center">
      <div class="icon mr-2">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div class="text">
        Modifier
      </div>
    </div>
    <div class="subitem dropdown-item d-flex align-items-center">
      <div class="icon mr-2">
        <i class="fas fa-expand-arrows-alt"></i>
      </div>
      <div class="text">
        Déplacer
      </div>
    </div>
    <div class="subitem dropdown-item d-flex align-items-center">
      <div class="icon mr-2">
        <i class="fas fa-download"></i>
      </div>
      <div class="text">
        Télécharger
      </div>
    </div>
    <div class="subitem dropdown-item d-flex align-items-center">
      <div class="icon mr-2">
        <i class="fa fa-archive"></i>
      </div>
      <div class="text">
        Archiver
      </div>
    </div>
    <div class="subitem dropdown-item d-flex align-items-center">
      <div class="icon mr-2">
        <i class="far fa-trash-alt"></i>
      </div>
      <div class="text">
        Supprimer
      </div>
    </div>
  </div>
</div>