{{> Organismes-header}}

<div class="container-fluid nopadding">
  <div class="body">
    <div class="sidebarContainer">

      {{> Organismes-Sidebar}}

    </div>

    <div class="content pl-5 mb-5">

      <div class="wkstitle my-5">
        {{> Atoms-Titles }}
      </div>

      {{> Organismes-workspace}}

    </div>
  </div>
</div> 

{{> Organismes-footer}}

