{{> Organismes-header}}

<div class="container-fluid nopadding">
  <div class="body">
    <div class="sidebarContainer">
      {{> Organismes-Sidebar}}
    </div>

    <div class="content">
      <div class="pl-5 my-5"> 
        {{> Atoms-Titles}}
      </div>

      <div class="info-user mx-5">
        <div class="info-avatar">
          {{> Atoms-Avatar}}
        </div>
        <div class="info-perso ml-4">
          Lorem ipsum dolor sit amet.
          <a href="#" class="my-2">lorem ipsum</a>
          lorem ipsum dolor sit amet.
        </div>
      </div>

      <div class="pos-delimiter my-5">
        {{> Specifique-delimiter}}
      </div>

      <div class="user-preference">
        <div class="menu-vertical mr-4">
          {{> Molecules-menu-vertical}}
        </div>

        <div class="setting px-4">

          <div class="setting-title">
            {{> Atoms-subTitle}}
          </div>

          <div class="setting-desc my-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip.
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

{{> Organismes-footer}}
