{{> Organismes-header}}

<div class="container-fluid nopadding">
  <div class="connexion py-5">
    <div class="white-logo mt-5 mb-3">
      <img src="../../images/white-logo.png" alt="logo blanc" style="width: 200px;">
    </div>
    <div class="formulaire my-5">
      {{> Organismes-FormConnexion}}
    </div>
  </div>
</div>

{{> Organismes-footer}}