{{> Organismes-header}}

<div class="container-fluid nopadding" style="background-color: #215e8e;">
  <div class="d-flex justify-content-center py-5">
    {{> Specifique-homepageCard}}
  </div>
</div>

{{> Organismes-footer}}