  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

    <script defer src="../../fonts/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
    <script src="../../js/jquery/jquery.3.2.1.min.js"></script>
    <script src="../../js/popper/popper.1.12.9.min.js"></script>
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
