<div class="btnaction">
  <div class="btnaction-text">
    <div class="btnaction-icon">
      <i class="far fa-comments" style="color: white;"></i>
    </div>
    <div class="btnaction-title">
      Débuter une nouvelle discussion
    </div>
  </div>
</div>