<div class="slideshow">
  <div class="arrow ar-left">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="fileimg">
    <img src="../../images/pdf.jpg" alt="" />
  </div>
  <div class="arrow ar-right">
    <i class="fas fa-chevron-right"></i>
  </div>
</div>