{{> Atoms-subTitle}}

<div class="paragraphe mt-3 mb-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris.
</div>


<div class="instruction my-3">
  Changer d'email
</div>
<div class="data-mail d-flex flex-wrap">
  <div class="new-mail mr-3">
    {{> Atoms-input}}
  </div>
  <div class="old-mail mr-3">
    {{> Atoms-input}}
  </div>
  <div class="validate-mail mb-3">
    {{> Atoms-Buttons-generic}}
  </div>
</div>


<div class="instruction mb-3">
  Changer de mot de passe
</div>
<div class="data-pwd d-flex flex-wrap">
  <div class="new-pwd mr-3">
    {{> Atoms-input}}
  </div>
  <div class="old-pwd mr-3">
    {{> Atoms-input}}
  </div>
  <div class="validate-pwd mb-3">
    {{> Atoms-Buttons-generic}}
  </div>
</div>
