{{> Atoms-subTitle}}

<div class="paragraphe mt-3 mb-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris.
</div>

<div class="calendar">
  <div class="instruction mb-3">
    Accèder à votre calendrier personnel
  </div>
  <div class="url-calendar">
    http://algoo.trac.im/caldav/user/262.ics/
  </div>
</div>

<div class="timezone mt-3">
  <div class="instruction mb-3">
    Changer de Fuseau Horaire
  </div>
  <div class="btn-timezone">
    {{> Atoms-dropdown-generic}}
  </div>
</div>