<div class="card">
  <div class="card-body" style="width: 650px;">
    <div class="homepageTitle text-center my-4">
      Bienvenue sur Tracim
    </div>
    <div class="homepageThanks text-center">
      Merci de nous faire confiance et d'utiliser notre outil collaboratif
    </div>
    <div class="homepageDelimit d-flex justify-content-center">
      {{> Specifique-delimiter}}
    </div>
    <div class="homepageText text-center mb-5">
      Vous allez créez votre premier espace de travail
    </div>
    <div class="homepageBtn d-flex justify-content-center">
      {{> Atoms-Buttons-generic}}
    </div>
    <div class="homepageLogo d-flex justify-content-center mt-5 mb-3">
      {{> Atoms-logo-header}}
    </div>
  </div>
</div>