<div class="addfolder dropdown">
  <button class="addfolderbtn btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Créer dans le dossier ...
  </button>
  <div class="addfoldersub dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="far fa-folder" style="color: #215e8e;"></i>
      </div>
      <div class="text">
        Créer un dossier
      </div>
    </div>
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="far fa-file-alt" style="color: #3f52e3;"></i>
      </div>
      <div class="text">
        Rédiger un document
      </div>
    </div>
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="far fa-file-image"></i>
      </div>
      <div class="text">
        Importer un fichier
      </div>
    </div>
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="far fa-file-code" style="color: #f12d2d;"></i>
      </div>
      <div class="text">
        Rédiger un document Markdown
      </div>
    </div>
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="far fa-comments" style="color: #ad4cf9;"></i>
      </div>
      <div class="text">
        Lancer une discussion
      </div>
    </div>
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="fas fa-tasks" style="color: #259f6c;"></i>
      </div>
      <div class="text">
        Créer une tâche
      </div>
    </div>
    <div class="addfolderitem dropdown-item d-flex align-items-center">
      <div class="icon mr-3">
        <i class="fas fa-ticket-alt" style="color: #a4835e;"></i>
      </div>
      <div class="text">
        Ouvrir un ticket
      </div>
    </div>
  </div>
</div>