<div class="card">
  <div class="connexion-header card-header text-center" style="background-color: #2175fe; color: #FDFDFD;">
    Connexion
  </div>
  <div class="card-body">
    <form class="connexion-form">
      <div class="connexion-input">
        {{> Atoms-input}}
        {{> Atoms-input}}
      </div>
      <div class="connexion-info">
        <div class="connexion-checkbox">
          {{> Atoms-Checkbox}}
        </div>         
        <div class="connexion-forgotten">
          <a href="#">lorem ipsum</a>
        </div>
      </div>
      <div class="text-center my-4">
        {{> Atoms-Buttons-generic}}
      </div>
    </form>
  </div>
</div>