<div class="card">
  <div class="flash-header card-header">
  </div>
  <div class="card-body d-flex align-items-center">
    <div class="flash-icon">
      <i class="fas fa-info" style="color: #2175fe;"></i>
    </div>
    <div class="flash-info">
      <div class="flash-title">
        {{> Atoms-subTitle}}
      </div>
      <div class="flash-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris.
      </div>
    </div>
  </div>
</div>