<div class="card">
  <div class="flash-header card-header">
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center mb-4">
      <div class="flash-icon mr-2">
        <i class="far fa-circle" style="color: #215e8e;"></i>
      </div>
      <div class="fileName">
        Nom du workspace
      </div>
    </div>
    <div class="inputfile">
      <div class="label mb-3">
        Nom ou Titre du workspace :
      </div>
      {{>  Atoms-input}}
    </div>
    <div class="btncreatefile d-flex justify-content-end mr-2">
      {{> Atoms-Buttons-generic}}
    </div>
  </div>
</div>