<div class="uploadpopup card">
  <div class="d-flex flex-column justify-content-center align-items-center card-body">
    {{> Atoms-progress-bar}}
    <div class="uploadText mt-5">
      Upload
    </div>
  </div>
</div>