<div class="message">
  <div class="message-avatar">
    {{> Atoms-Avatar}}
  </div>
  <div class="message-time">
    {{> Atoms-Set-Time}}
  </div>
  <div class="message-text ml-4">
    {{> Atoms-Message}}
  </div>
</div>